nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
  .container(style='width:100%; margin-right:auto')
    a.navbar-brand(href='/', style='margin-left:40px')
      img(src='https://ifh.cc/g/HwdkM.jpg', alt='logo', width='200px',onload="recentViewedList('recentItems')")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
     #navbarResponsive.d-flex.flex-column.flex-wrap.collapse.navbar-collapse
      ul.navbar-nav.flex-row-reverse(style='width:45rem; margin-bottom:1rem')
        li.nav-item.active
          a.nav-link(href='/dips') 찜
        li.nav-item.active
          a.nav-link(href='/mypage' , style='margin-left:10px;') 마이페이지
        li.nav-item.active
          a.nav-link(href='/freeboard',  style='margin-left:10px;') 자유게시판
        li.nav-item.active
          a.nav-link(href='/basket') 같이 살까?
        li.nav-item.active
          a.nav-link(href='#' , style='margin-left:10px;')

      form.form-inline(method='GET' action=`/articles/search?item=${item}`)
        input.form-control(type='text' name='item' placeholder='검색하실 내용을 입력하세요' style='width:25rem; height:3.2rem')
        button.btn.btn-light(type='submit' style='height:3.2rem;margin-right:8rem')
          img(src='https://image.flaticon.com/icons/svg/149/149852.svg' alt='search icon' width='25px')
        select.custom-select(name='sorting', onchange="if(this.value) location.href=(this.value);")
          option(selected='') 정렬
          option(value='/articles/sort_deadline') 마감기한
          option(value='/articles//sort_recent_enroll') 최근등록
          option(value='/articles/sort_pernum') 모집인원
