extends layout

block content
  .container(style=' width: 1500px;margin-top: 120px' )
    .row
      .col-lg-2
      .col-lg-8
        h3 #{title}
        form(method='POST', action='/articles/add', enctype="multipart/form-data")
          #form-group
            label 모집 마감일
            input.form-control(name='deadline', type='date',min='2019-01-01' , required)
          #form-group
            label 카테고리
            select#sel1.form-control(name="category", required)
              option(value="") 카테고리를 선택하세요
              option(value="식자재") 식자재
              option(value="즉석식품") 즉석식품
              option(value="반찬") 반찬
              option(value="음료수/아이스크림") 음료수/아이스크림
              option(value="커피/차") 커피/차
              option(value="해외직구") 해외직구
              option(value="기타") 기타
          #form-group
            label 품목
            input.form-control(name='item', type='text', required)
          #form-group
            label 방 제목
            input.form-control(name='title', type='text', required)
          #form-group
            label 사진
            input.form-control-file.border(name='picture', type='file', required)
          #form-group
            label 모집인원
            select#sel1.form-control(name='members', type='text', required)
              option(value="") 모집할 인원을 선택하세요
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
          #form-group
            label 기타
            textarea.form-control(name='comment', cols='30', rows='5')
          br
          input.btn.btn-primary(type='submit',value='Submit', style='margin-bottom:5rem')
