extends layout

block content
  .row
    .col-lg-4
    .col-lg-4
      h2(style='margin-top:7rem; margin-bottom:3rem') 로그인
      form(method='POST', action='/users/login')
        #form-group
          input.form-control(name='username',type='text', placeholder='아이디')
        #form-group
          input.form-control(name='password',type='password', placeholder='비밀번호', style='margin-top:1rem')
        br
        input.btn.btn-primary(type='submit',value='로그인', style='width:100%;')
        button.btn.btn-light(type="button" style="width:10.5rem; background-color: lightgrey; margin-top:1rem; margin-bottom:9rem", onclick="location.href='/'") ID/PW찾기
        button.btn.btn-light(type="button" style='width:10.5rem; background-color: lightgrey; margin-top:1rem; margin-left:0.5rem; margin-bottom:9rem' onclick="location.href='/users/register'") 회원가입
