extend ../layout

block content
    .container(style='width: 1500px;margin-top: 150px;margin-left:150px;' )
      .row
        .col-lg-offset-2
        .col-lg-8
          h4 #{freeboard.title}
          p(style="float:right; margin-left:3rem") #{freeboard.author}
          p(style="float:right;") #{freeboard.date}
          br
          hr
          br
      .row(margin-top:'100px')
        .col-lg-offset-2
        .col-lg-8
          p #{freeboard.contents}
