extends ../layout

block content
    .container(style='width: 1500px;margin-top: 150px;margin-left:150px;font-size:20px' )
      .row
        .col-lg-offset-2
        .col-lg-8
          h3 제목
          hr
          p #{freeboard.title}
          hr
          br
          br
          br
      .row(margin-top:'100px')
        .col-lg-offset-2
        .col-lg-8
          h3 내용
          hr
          p #{freeboard.contents}
          hr
