extends ../layout

block content
  .container(style=' width: 1500px; margin-top: 100px')  
    .row
      .col-lg-3
        #login(style='margin-top:30px')
          if user
            #user_index
              .row
                .col-lg-5
                  img(src='../image/smile.png', width='100px', style="margin-left:5px;margin-top:5px")
                .col-lg-7(style='margin-top:25px')
                  p(style='line-height:0%') #{user.name} 님,
                  | 환영합니다!
                  p(style='margin-top:15px') 알림(1)
              .row(style="padding-top:20px")
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button", style='width:100%', onclick="location.href='./mypage'") 내정보
                .col-lg-6
                  button.btn.btn-primary.btn-block(type="button" style=' width:100%' onclick="location.href='/users/logout'") 로그아웃
        #category
          p(align='center' style='font-size:1rem') 카테고리
          button.btn-ctg 식자재
          button.btn-ctg 즉석식품
          button.btn-ctg 반찬
          button.btn-ctg 음료수/아이스크림
          button.btn-ctg 커피/차
          button.btn-ctg 해외직구
          button.btn-ctg 기타
        
      .col-lg-8(style='margin-top:30px; padding-left:30px')
        h2(style='margin-bottom:30px') 마이페이지

        table.table.table-borderless
          thead
          tbody
          tr
            td 아이디
            td
              input.form-control(type='text' placeholder='#{user.id}' readonly='')
          tr
            td 이름
            td
              input.form-control(type='text' placeholder= #{user.name} )
          tr
            td 비밀번호 변경
            td
              button.btn.btn-secondary(type='button' onclick="window.open('http://google.com')")
                |비밀번호 변경
          tr
            td 전화번호
            td
              input.form-control(type='text' placeholder='010-1234-5678')
          tr
            td 주소
            td
              input.form-control(type='text' placeholder='경기도 용인시 처인구 명지로123')
        button.btn.btn-primary(type='button' style='float:right; margin-left: 1.5rem; margin-right:1rem; width:5rem') 변경
        button.btn.btn-warning(type='button' style='float:right;width:5rem') 초기화


      .col-lg-1(style='margin-top:50px;')
        nav.navbar(class='navbar-expand-xl|lg|md|sm')
          ul.navbar-nav
            #cur_item
              h5(style='text-align:center') 최근목록
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/potato.jpg')
                    | 알감자
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/fish.jpg')
                    //-이 밑에 주석은 혹시 모르니까 남겨놔 주세요~ 
                    //-img(src='picture/9437d3e417037c1b221518d08832782f')
                    | 고등어
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/pororo.jpg')
                    | 뽀로로 인형
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/knife.jpg')
                    | 장미칼